* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: "Roboto", sans-serif;
   background-color: #09203f;
   color: #fff;
}
ul {
   list-style: none;
}
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.2rem;
   padding-left: 2rem;
   padding-right: 2rem;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
header ul {
   display: flex;
   gap: 1.5rem;
}
header ul a {
   color: #92effd;
   font-size: 18px;
   font-weight: bold;
   letter-spacing: 1px;
   text-decoration: none;
   position: relative;
}
header ul a::after {
   content: "";
   position: absolute;
   left: 50%;
   bottom: -6px;
   width: 0px;
   height: 4px;
   background: linear-gradient(#4e65ff, #92effd);
   transition: 0.5s;
   border-radius: 5px;
}
header ul a:hover::after {
   width: 100%;
   left: 0;
}
header h1 {
   background: linear-gradient(#4e65ff, #92effd);
   background-clip: text;
   color: transparent;
   font-size: 3rem;
}
